.button {
    display: inline-block;
    background-color: transparent;
    border-radius: 5em;
    color: $almost-black;
    border: 2px solid $almost-black;
    cursor: pointer;
    font-family: $barlow;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    padding: .4em 1.5em;
    text-decoration: none;

    &:visited {
        color: $almost-black;
    }

    &:hover {
        background-color: $almost-black;
        border-color: $almost-black;
        color: $white;
    }

    // button generator
                 // name         background-color      text-color        border-color          hover-bg-color    hover-text-color    hover-border-color
    $button-colors: teal         $fountain-run-teal    $white            $fountain-run-teal    transparent       $fountain-run-teal  $fountain-run-teal,
                    orange       $bell-tower-brick     $white            $bell-tower-brick     transparent       $bell-tower-brick   $bell-tower-brick,
                    gold         $campus-gold          $almost-black     $campus-gold          transparent       $almost-black       $campus-gold,
                    blue         $slayter-sky-blue     $white            $slayter-sky-blue     transparent       $slayter-sky-blue   $slayter-sky-blue,
                    green        $ross-ade-green       $white            $ross-ade-green       transparent       $ross-ade-green     $ross-ade-green,
                    light-gray   $light-gray           $almost-black     $light-gray           transparent       $almost-black       $light-gray,
                    almost-black $almost-black         $white            $almost-black         transparent       $almost-black       $almost-black,
                    white        $white                $almost-black     $white                transparent       $white              $white;

    // loop through combos
    @each $color in $button-colors {
        $color-name: nth($color, 1);
        $bg-color: nth($color, 2);
        $text-color: nth($color, 3);
        $border-color: nth($color, 4);
        $hover-bg-color: nth($color, 5);
        $hover-text-color: nth($color, 6);
        $hover-border-color: nth($color, 7);

        &--#{$color-name} { // i.e.  &--teal
            color: $text-color;
            border-color: $border-color;
            background-color: $bg-color;

            &:visited {
                color: $text-color;
            }

            &:hover {
                background-color: $hover-bg-color;
                border-color: $hover-border-color;
                color: $hover-text-color;
            }
        }

        @if ($color-name != "light-gray" and $color-name != "almost-black" and $color-name != "gold") {
            &--invert-#{$color-name} { // i.e.  &--invert-teal
                color: $bg-color;
                border-color: $bg-color;
                background-color: $text-color;

                &:visited {
                    color: $bg-color;
                }

                &:hover {
                    background-color: $hover-text-color;
                    color: $text-color;
                    border-color: $hover-bg-color;
                }
            }
        }
    } // end button generator

    // special button cases
    &--invert-light-gray {
        color: $white;
        border-color: $light-gray;
        background-color: transparent;

        &:visited {
            color: $white;
        }

        &:hover {
            background-color: $light-gray;
            color: $almost-black;
            border-color: $light-gray;
        }
    }

    &--invert-gold {
        color: $campus-gold;
        border-color: $campus-gold;
        background-color: $black;

        &:visited {
            color: $campus-gold;
        }

        &:hover {
            background-color: $campus-gold;
            color: $almost-black;
            border-color: $campus-gold;
        }
    }
    // end special button cases

    &--small {
        font-size: 1em;
        line-height: 1.5;
        padding: .2em .75em;
    }

    &--bold {
        font-weight: 700;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px lightblue;
    }
}