.button {
    display: inline-block;
    background-color: transparent;
    color: $gold;
    border-radius: 5em;
    border: 2px solid $gold;
    cursor: pointer;
    font-family: $barlow;
    font-size: 1em;
    line-height: 1.5em;
    padding: .4em 1.5em;
    text-decoration: none;

    $button-colors: teal $teal,
                    orange $orange,
                    gold $gold,
                    green $green;

    @each $color in $button-colors {
        &--#{nth($color, 1)} { // i.e.  &--teal
            color: nth($color, 2);
            border-color: nth($color, 2);

            &:visited {
                color: nth($color, 2);
            }

            &:hover {
                background-color: nth($color, 2);
                border-color: nth($color, 2);
                color: $white;
            }
        }
    }
    // &--teal {
    //     color: $teal;
    //     border-color: $teal;
    //
    //     &:visited {
    //         color: $teal;
    //     }
    //
    //     &:hover {
    //         background-color: $teal;
    //         border-color: $teal;
    //     }
    // }

    // &--orange {
    //     color: $orange;
    //     border-color: $orange;
    // }
    //
    // &--green {
    //     color: $green;
    //     border-color: $green;
    // }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px $red;
    }
    //
    // &:hover {
    //     background-color: $gold;
    //     color: #fff;
    // }
    //
    // &--teal:hover {
    // }
    //
    // &--orange:hover {
    //     background-color: $orange;
    //     border-color: $orange;
    // }
    //
    // &--green:hover {
    //     background-color: $green;
    //     border-color: $green;
    // }
}

// Old button style
// .button {
//     display: inline-block;
//     margin: auto 1em;
//     padding: .5em 1.5em;
//     max-width: 100%;
//     text-align: center;
//     border: 2px solid $brown;
//     text-decoration: none;
//     color: $brown;
//
//     &:link,&:visited{
//         text-decoration: none;
//     }
//
//     &:hover,&:active,&:focus{
//         text-decoration:none;
//         cursor:pointer;
//         background-color: $brown;
//         color: #fff;
//     }
// }