.button {
    display: inline-block;
    background-color: transparent;
    color: $gold;
    border-radius: 5em;
    border: 2px solid $gold;
    cursor: pointer;
    font-family: $barlow;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    padding: .4em 1.5em;
    text-decoration: none;

    $button-colors: teal $teal,
                    orange $orange,
                    gold $gold,
                    blue $blue,
                    green $green,
                    light-gray $light-gray;

    @each $color in $button-colors {
        &--#{nth($color, 1)} { // i.e.  &--teal
            color: nth($color, 2);
            border-color: nth($color, 2);

            &:visited {
                color: nth($color, 2);
            }

            &:hover {
                background-color: nth($color, 2);
                border-color: nth($color, 2);
                color: $white;
            }
        }
    }

    @each $color in $button-colors {
        &--invert-#{nth($color, 1)} { // i.e.  &--invert-teal
            color: $white;
            border-color: nth($color, 2);
            background-color: nth($color, 2);

            &:visited {
                color: $white;
            }

            &:hover {
                background-color: $white;
                color: nth($color, 2);
            }
        }
    }

    &--dark-text {
        color: $almost-black;

        &:visited {
            color: $almost-black;
        }

        &:hover {
            color: $almost-black;
        }
    }

    &--small {
        font-size: 1em;
        line-height: 1.5;
        padding: .2em .75em;
    }

    &--bold {
        font-weight: 700;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px lightblue;
    }
}