// v2
.plan {
    overflow: hidden;
    font-family: $barlow;
    position: relative;
    margin: 2px;
    padding: 20px 20px 140px;
    background-color: $light-gray;
    text-align: center;
    border-top: 10px solid $gold;

    @include breakpoint(xs) {
        margin-top: 2em;

        &:first-of-type {
            margin-top: 1em;
        }
    }

    @include breakpoint(sm) {
        flex: 1 1 auto;
        width: 45%;
    }

    @include breakpoint(md) {
    }

    @include breakpoint(lg) {
    }

    &--gold {
        border-top: 10px solid $gold;
    }

    &--green {
        border-top: 10px solid $green;
    }

    &--orange {
        border-top: 10px solid $orange;
    }

    &--teal {
        border-top: 10px solid $teal;
    }

    &--highlight {
        //background: lighten($orange, 57%);
        border-right: 3px solid $orange;
        border-bottom: 3px solid $orange;
        border-left: 3px solid $orange;
    }

    &__best {
        position: absolute;
        right: 20px;
        font-size: 3em;
        color: $orange;
    }

    &__title {
        font-family: $barlow;
        color: $almost-black;
        font-weight: 700;
    }

    &__description {
    }

    &__details {
    }

    &__cost {
        margin: .5em 0;
        font-size: 3em;
        text-align: center;

        &-year {
            font-size: 1.5rem;
        }
    }

    &__learn-more {
        position: absolute;
        text-align: center;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        bottom: 100px;
    }

    &__CTA {
        position: absolute;
        //width: 100px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;
        display: block;
    }
}

// v1
// .plan {
//     overflow: hidden;
//     font-family: $barlow;
//     position: relative;
//
//     &__best-value {
//         // position: absolute;
//         display: block;
//         text-align: center;
//         padding: .5em;
//         color: $brown;
//         background-color: gray;
//         width: 80%;
//         margin: auto;
//         border-top-left-radius: 10px;
//         border-top-right-radius: 10px;
//         color: #fff;
//
//         &-spacer {
//             display: block;
//             margin-top: 34px;
//         }
//     }
//
//     &__title {
//         border-top-left-radius: 15px;
//         border-top-right-radius: 15px;
//         margin: 0;
//         text-align: center;
//         color: #fff;
//         background: $gold;
//         padding: .5em;
//         font-weight: 400;
//
//         &--green {
//             background: $green;
//         }
//
//         &--orange {
//             background: $orange;
//         }
//
//         &--teal {
//             background: $teal;
//         }
//     }
//
//     &__description {
//         padding: 0 1em;
//         text-align: left;
//     }
//
//     &__details {
//         color: $brown;
//         text-align: center;
//
//         &-list {
//             list-style: none;
//             margin: 0;
//             margin-bottom: 1em;
//             padding: 0;
//             text-align: left;
//         }
//
//         &-list-item {
//             padding: .7em 2em .7em .4em;
//             border-bottom: 1px solid $gray;
//             position: relative;
//         }
//
//         &-included, &-excluded {
//             position: absolute;
//             top: 12px;
//             right: .4em;
//         }
//
//         &-included {
//             color: $green;
//         }
//
//         &-excluded {
//             color: $red;
//             font-size: 1.3em;
//         }
//     }
//
//     &__more-link {
//         display: inline-block;
//         position: relative;
//         z-index: 1;
//         padding: 1em;
//         margin: -1em;
//     }
//
//     &__cost {
//         margin: .75em 0;
//         font-size: 3em;
//         text-align: center;
//
//         &-year {
//             font-size: 1.5rem;
//         }
//     }
//
//     &__CTA {
//         display: block;
//         max-width: 30%;
//         margin: 1em auto;
//     }
// }