.plan {
    // overflow: hidden;
    font-family: $barlow;
    position: relative;
    margin: 2px;
    // padding: 20px 20px 140px;
    padding: 20px 20px 70px;
    background-color: $light-gray;
    text-align: center;
    border-top: 10px solid $campus-gold;

    @include breakpoint(xs) {
        margin-top: 2em;

        &:first-of-type {
            margin-top: 1em;
        }
    }

    @include breakpoint(sm) {
        flex: 1 1 auto;
        width: 45%;
    }

    @include breakpoint(md) {
    }

    @include breakpoint(lg) {
    }

    &--basic {
        border-top: 10px solid $basic;
    }

    &--plus {
        border-top: 10px solid $plus;
    }

    &--professional {
        border-top: 10px solid $professional;
    }

    &--career-max {
        border-top: 10px solid $career-max;
    }

    $highlight-color: $plus;
    &--highlight {
        border-right: 3px solid $highlight-color;
        border-bottom: 3px solid $highlight-color;
        border-left: 3px solid $highlight-color;

        &:before {
            content: "Most Popular";
            background-color: $highlight-color;
            color: $white;
            font-size: 1.1em;
            position: absolute;
            top: -1.5em;
            z-index: 10;
            height: 1.5em;
            padding-bottom: .5em;
            line-height: 1.5;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% + 6px);
        }
    }

    &__title {
        font-family: $barlow;
        color: $almost-black;
        font-weight: 700;
    }

    &__subtitle {
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }

    &__details {
    }

    &__cost {
        margin: .5em 0;
        margin-top: 1.5em;
        font-size: 3em;
        text-align: center;
    }

    &__cost-year {
        font-size: 1.5rem;
    }

    &__learn-more {
        position: absolute;
        text-align: center;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        // bottom: 100px;
        bottom: 40px;
    }

    &__CTA {
        position: absolute;
        //width: 100px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;
        display: block;
    }
}