.pricing-table {
    // no flex at mobile
    margin: auto;
    margin-top: 3em;

    @include breakpoint(sm) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @include breakpoint(md) {
    }

    @include breakpoint(lg) {
        max-width: none;
        flex-wrap: nowrap;
    }
}

@import "plan";