.black-bar {
    background-color: $black;
    //height: 1em;
    padding: .3em;

    @include breakpoint(sm) {
        color: $white;
        text-align: right;
        height: auto;
        line-height: 2.5;
        padding-right: 1em;
        font-size: .9em;
        // align the black bar nav items with the main nav items
        padding-right: $section-padding-sm;
        position: relative;
    }

    @include breakpoint(md) {
        padding-right: $section-padding-md;
    }
}