a {
    font-weight: 700;
    text-decoration: underline;
    color: $almost-black;

    &:visited {
        color: inherit;
    }

    &:hover {
        text-decoration: none;
        color: $dark-gray;
    }

    &:active {
    }
}