.email {
    display: block;
    width: 600px;

    &__header {
        display: block;
        text-align: center;
        padding: 10px 10px 0 10px;
    }

    &__logo {
        width: 300px;
    }

    &__body {
        padding: 10px 20px;
    }

    &__footer {
        background-color: #eee;
        text-align: center;
        padding: 10px;
        font-size: 14px;

        & p {
            padding: 0;
            margin: 0;
        }

        & a {
            font-weight: 400;
        }
    }
}