<header class="black-bar">
    <nav class="black-bar-menu">
        <ul class="black-bar-menu__list">
            <li class="black-bar-menu__list-item"><a class="black-bar-menu__link" href="#"><i class="fa fa-users" aria-hidden="true"></i>Alumni Portal</a></li>
            <li class="black-bar-menu__list-item"><a class="black-bar-menu__link" href="#"><i class="fa fa-key" aria-hidden="true"></i>Member Login</a></li>
            <li class="black-bar-menu__list-item"><a class="black-bar-menu__link black-bar-menu__link--search" href="javascript:void(0)" rel="js-search-toggle"><i class="fa fa-search" aria-hidden="true"></i>Search</a></li>
        </ul>
    </nav>
    <form class="form search-form black-bar-menu__search-form" role="search" method="get" class="search-form" action="/" rel="js-search-form">
        <label for="uniqueID">
            <span class="sr-only">Search for:</span>
        </label>
        <input class="form__input form__input--text" type="search" id="uniqueID" value="" name="s" rel="js-autofocus" />
        <button class="form__button form__button--submit search-form__button" type="submit"><i class="fas fa-search"></i><span class="sr-only">submit button</span></button>
    </form>
</header>