<nav class="breadcrumbs">
    <ol class="breadcrumbs__list">
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="#">Home</a></li>
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="#">Networking</a></li>
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="#" aria-current="page">Young Alumni</a></li>
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__link breadcrumbs__link--current" href="#" aria-current="page">Young Alumni Award</a></li>
    </ol>
</nav>