<header class="row row--full-width header">
    <a class="header__logo-link" href="#">
        <img class="header__logo" src="../../images/svg/logo-optimized.svg" alt="Purdue Alumni Association" />
    </a>
    <div class="header__right-content">
        <a class="button button--small button--almost-black primary-menu__mobile-menu-button" id="mobile-menu-toggle" href="javascript:void(0)"><i class="fas fa-bars primary-menu__mobile-menu-button-icon" rel="js-mobile-menu-button-icon"></i> Menu</a>
        <nav class="primary-menu header__navigation">
            <ul class="primary-menu__list">
                <li class="primary-menu__list-item"><a class="primary-menu__link primary-menu__link--current" href="#">Membership</a></li>
                <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Events</a></li>
                <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Clubs</a></li>
                <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Networks</a></li>
                <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">About</a></li>
                <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<nav class="primary-menu primary-menu--mobile" id="mobile-menu">
    <input type="text" style="width: 100%;" rel="js-autofocus"/>
    <ul class="primary-menu__list">
        <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Login</a></li>
        <li class="primary-menu__list-item"><a class="primary-menu__link primary-menu__link--current" href="#">Membership</a></li>
        <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Events</a></li>
        <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Clubs</a></li>
        <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Networks</a></li>
        <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">About</a></li>
        <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Contact</a></li>
    </ul>
</nav>