<main>
    <h1>Young Alumni</h1>
    <h2>You’ve worked hard for four years or more, but now what?</h2>
    <p>Young Alumni and recent graduates are the future of Purdue University. Receiving your diploma is just the first step in becoming a part of an elite group of Boilermakers. After commencement you are an official Purdue University Alumni!</p>
    <h2>Membership</h2>
    <p>Did you know that after you graduate with your first Purdue degree, Purdue University gives you graduation gift of your first year of membership through your <a href="https://purdue.imodules.com/s/1461/2column.aspx?sid=1461&amp;gid=1001&amp;pgid=968">Purdue Alumni Association Gateway Membership</a>? Check out the benefits, discounts, and insurance options that are available to you as a member of the Purdue Alumni Association.</p>
    <h2>Job Hunt Help</h2>
    <p>Check out the <a href="https://purdue.imodules.com/s/1461/2column.aspx?sid=1461&amp;gid=1001&amp;pgid=463">Career Gateway</a> or <a href="https://www.cco.purdue.edu/Alumni/alumniservices.shtml">CCO</a>.</p>
    <h2>Transcripts and Commencement</h2>
    <p>Need a copy of your <a href="http://www.purdue.edu/registrar/currentStudents/students/transcripts.html" target="_blank">transcript</a>? Or information about <a href="http://www.purdue.edu/commencement/" target="_blank">Commencement</a>?</p>
    <h2>Get Involved</h2>
    <ul>
        <li>
            <a href="https://purdue.imodules.com/s/1461/2column.aspx?sid=1461&amp;gid=1001&amp;pgid=603">Board of Directors Class Representative position</a>.
        </li>
        <li>
            <a href="https://purdue.imodules.com/s/1461/2column.aspx?sid=1461&amp;gid=1001&amp;pgid=553">Young Alumni award</a>.
        </li>
        <li>
            Check out the <a href="https://purdue.imodules.com/s/1461/2column.aspx?sid=1461&amp;gid=1001&amp;pgid=320">Alumni Clubs</a> and <a href="https://purdue.imodules.com/s/1461/2column.aspx?sid=1461&amp;gid=1001&amp;pgid=464">International Networks</a> to connect with other Boilermakers.
        </li>
        <li>
            Travel with us! We have opportunities both in the <a href="https://purdue.imodules.com/s/1461/2column.aspx?sid=1461&amp;gid=1001&amp;pgid=806">US</a> and in <a href="https://purdue.imodules.com/s/1461/2column.aspx?sid=1461&amp;gid=1001&amp;pgid=339">Europe</a>.
        </li>
        <li>
            <a href="https://purdue.imodules.com/s/1461/2column.aspx?sid=1461&amp;gid=1001&amp;pgid=319">Upcoming event calendar</a>.
        </li>
    </ul>
</main>