<footer class="primary-footer">
    <aside class="social-media-box primary-footer__social-media-box">
        <ul class="social-media-box__list">
            <li class="social-media-box__list-item"><a class="social-media-box__link" href="#"><i class="fab fa-facebook-f social-media-box__icon"></i></a></li>
            <li class="social-media-box__list-item"><a class="social-media-box__link" href="#"><i class="fab fa-twitter social-media-box__icon"></i></a></li>
            <li class="social-media-box__list-item"><a class="social-media-box__link" href="#"><i class="fab fa-linkedin-in social-media-box__icon"></i></a></li>
            <li class="social-media-box__list-item"><a class="social-media-box__link" href="#"><i class="fab fa-instagram social-media-box__icon"></i></a></li>
            <li class="social-media-box__list-item"><a class="social-media-box__link" href="#"><i class="fab fa-pinterest social-media-box__icon"></i></a></li>
        </ul>
    </aside>
    <div class="primary-footer__columns-container">
        <div class="primary-footer__column">
            <span class="primary-footer__column-title" id="footer-column1">Current Alumni<!-- <i class="fas fa-plus primary-footer__column-title-icon"></i> --></span>
            <ul class="primary-footer__column-list" aria-labelledby="footer-column1">
                <li class="primary-footer__column-list-item"><a class="primary-footer__column-link" href="#">Career Tools & Resources</a></li>
                <li class="primary-footer__column-list-item"><a class="primary-footer__column-link" href="#">Ways to Give</a></li>
                <li class="primary-footer__column-list-item"><a class="primary-footer__column-link" href="#">Transcript Request</a></li>
                <li class="primary-footer__column-list-item"><a class="primary-footer__column-link" href="#">Update your Information</a></li>
            </ul>
        </div>
        <div class="primary-footer__column">
            <span class="primary-footer__column-title" id="footer-column2">Current Alumni<!-- <i class="fas fa-plus primary-footer__column-title-icon"></i> --></span>
            <ul class="primary-footer__column-list" aria-labelledby="footer-column2">
                <li class="primary-footer__column-list-item"><a class="primary-footer__column-link" href="#">Career Tools & Resources</a></li>
                <li class="primary-footer__column-list-item"><a class="primary-footer__column-link" href="#">Ways to Give</a></li>
                <li class="primary-footer__column-list-item"><a class="primary-footer__column-link" href="#">Transcript Request</a></li>
                <li class="primary-footer__column-list-item"><a class="primary-footer__column-link" href="#">Update your Information</a></li>
            </ul>
        </div>
        <div class="primary-footer__column">
            <span class="primary-footer__column-title" id="footer-column3">Current Alumni<!-- <i class="fas fa-plus primary-footer__column-title-icon"></i> --></span>
            <ul class="primary-footer__column-list" aria-labelledby="footer-column3">
                <li class="primary-footer__column-list-item"><a class="primary-footer__column-link" href="#">Career Tools & Resources</a></li>
                <li class="primary-footer__column-list-item"><a class="primary-footer__column-link" href="#">Ways to Give</a></li>
                <li class="primary-footer__column-list-item"><a class="primary-footer__column-link" href="#">Transcript Request</a></li>
                <li class="primary-footer__column-list-item"><a class="primary-footer__column-link" href="#">Update your Information</a></li>
            </ul>
        </div>
        <div class="primary-footer__column">
            <span class="primary-footer__column-title" id="footer-column4">Current Alumni<!-- <i class="fas fa-plus primary-footer__column-title-icon"></i> --></span>
            <ul class="primary-footer__column-list" aria-labelledby="footer-column4">
                <li class="primary-footer__column-list-item"><a class="primary-footer__column-link" href="#">Career Tools & Resources</a></li>
                <li class="primary-footer__column-list-item"><a class="primary-footer__column-link" href="#">Ways to Give</a></li>
                <li class="primary-footer__column-list-item"><a class="primary-footer__column-link" href="#">Transcript Request</a></li>
                <li class="primary-footer__column-list-item"><a class="primary-footer__column-link" href="#">Update your Information</a></li>
            </ul>
        </div>
    </div>
</footer>