<footer class="secondary-footer">
    <div class="secondary-footer__left-content">
        <p><span class="secondary-footer__left-content-title">Dauch Alumni Center</span><br />
        403 W. Wood Street West Lafayette, IN 47906<br />
        800-414-1541&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:purduealumni@purdue.edu">purduealumni@purdue.edu</a></p>
    </div>
    <div class="secondary-footer__right-content">
        <p><a href="#">Terms of Use</a><br />
        <a href="#">Privacy Statement</a><br />
        Purdue Alumni Association. All Rights Reserved</p>
    </div>
</footer>