@@if(context.highlight === false) {
<div class="pricing-table__plan plan plan--@@color">
}
@@if(context.highlight === true) {
<div class="pricing-table__plan plan plan--@@color plan--highlight">
}
    <h2 class="plan__title">@@name</h2>
    <div class="plan__details">
        <p class="plan__cost">$@@cost<span class="plan__cost-year"> / year</span></p>
        <p class="plan__description">@@desc</p>
        <a class="plan__learn-more" href="https://www.purduealumni.org/dev/html/components/plan-details.html">Learn More</a>
        <!-- <a class="button button--@@color plan__CTA" href="@@link">Join</a> -->
    </div>
</div>