<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "Alert Banner",
    "pageCSS": ""
})
<body>
    <section class="row row--slim alert-banner flex">
        <i class="fas fa-exclamation-circle alert-banner__icon"></i>
        <div class="alert-banner__message">
            <h2 class="alert-banner__title"><i class="fas fa-exclamation-circle alert-banner__icon--mobile"></i>California Wildfires</h2>
            <p>Multiple fires are consuming thousands of acres in California right now, forcing tens of thousands of people from their homes. We're thinking of all those affected, including our Purdue alumni family.</p>
            <p>If you can, please consider donating to one of the many charities aiding the familes: <a href="https://www.redcross.org/about-us/news-and-events/news/2018/california-wildfires-red-cross-helps-as-thousands-evacuate.html" target="_blank" rel="nofollow">American Red Cross</a>, <a href="https://disaster.salvationarmyusa.org/" target="_blank" rel="nofollow">The Salvation Army USA</a>, <a href="https://www.unitedwayla.org/en/give/disaster-relief-fund/" target="_blank" rel="nofollow">United Way of Greater Los Angeles</a>, and <a href="https://app.mobilecause.com/f/23ef/n?vid=4v4l" target="_blank" rel="nofollow">United Way of Ventura County</a>.</p>
            <i class="fas fa-times" id="alert-close"><span class="sr-only">Close</span></i>
        </div>
    </section>
</body>
</html>