<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "Big Info Block",
    "pageCSS": ""
})
<body>
    <section class="big-info-block">
        <div class="big-info-block__row">
            <div class="big-info-block__primary-box">
                <h2 class="big-info-block__primary-title">Featured Member Idea</h2>
                <p class="big-info-block__primary-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae harum asperiores nesciunt et maiores facere iste atque nobis pariatur deleniti provident assumenda expedita, sed autem sunt, nam, ullam illo omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis culpa odio recusandae voluptatibus odit commodi dolore laudantium voluptatum. Debitis quasi quas eligendi magni, vero eveniet ad quis, at. Delectus, nemo!</p>
                <a class="button button--gold big-info-block__primary-cta" href="#">CTA Link &nbsp;<i class="fas fa-arrow-right" aria-hidden></i></a>
            </div>
            <div class="big-info-block__secondary-box">
                <h2 class="big-info-block__secondary-title">Featured Member Idea</h2>
                <p class="big-info-block__secondary-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae harum asperiores nesciunt et maiores facere iste atque nobis pariatur deleniti provident assumenda expedita, sed autem sunt, nam, ullam illo omnis.</p>
                <a class="button button--invert-white big-info-block__secondary-cta" href="#">CTA Link</a>
            </div>
        </div>
        <div class="big-info-block__row">
            <a class="big-info-block__third-box" href="#">
                <div class="graphic-box graphic-box--gold" style="background-image: url('../../images/dev/tailgate.jpg')">
                    <div class="graphic-box__content">
                        <span class="graphic-box__category graphic-box__category--gold">Events</span>
                        <span class="graphic-box__title">Headline for a Club Event or Story Can Go Here Headline for a Club Event or Story Can Go Here Headline for a Club Event or Story Can Go Here</span>
                    </div>
                </div>
            </a>
            <a class="big-info-block__third-box" href="#">
                <div class="graphic-box graphic-box--brown" style="background-image: url('../../images/dev/tailgate.jpg')">
                    <div class="graphic-box__content">
                        <span class="graphic-box__category graphic-box__category--brown">Events</span>
                        <span class="graphic-box__title">Headline for a Club Event or Story Can Go Here Headline for a Club Event or Story Can Go Here Headline for a Club Event or Story Can Go Here</span>
                    </div>
                </div>
            </a>
            <a class="big-info-block__third-box" href="#">
                <div class="graphic-box graphic-box--dark-gray" style="background-image: url('../../images/dev/tailgate.jpg')">
                    <div class="graphic-box__content">
                        <span class="graphic-box__category graphic-box__category--dark-gray">Events</span>
                        <span class="graphic-box__title">Headline for a Club Event or Story Can Go Here Headline for a Club Event or Story Can Go Here Headline for a Club Event or Story Can Go Here</span>
                    </div>
                </div>
            </a>
        </div>
    </section>
</body>
</html>