<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
"title": "Business Directory Listing",
"pageCSS": "../../css/pages/business-directory.css"
})

<body>
    <section class="row">
        <div class="bootstrap-row business-directory-listing-container">
            <div class="business-directory-listing business-directory-listing--premium">
                <div class="business-directory-listing__logo-container">
                    <img class="business-directory-listing__logo" src="http://via.placeholder.com/200x200" />
                </div>
                <div class="business-directory-listing__text-container">
                    <p class="business-directory-listing__heading">Edward Hopper House Museum & Study Center</p>
                    <p class="business-directory-listing__address">12339 SE Really Long Street Nam eTest Trwy NW Unit 1, Cairo, GA 30000</p>
                    <!-- <p class="business-directory-listing__contact-name"><strong>John Doe</strong></p> -->
                    <p class="business-directory-listing__email">john@defaultcompany.com</p>
                    <p class="business-directory-listing__phone-number">317-818-1912</p>
                    <button class="button business-directory-listing__button" type="button">Website</button>
                </div>
            </div>
            <div class="business-directory-listing business-directory-listing--premium">
              <div class="business-directory-listing__logo-container">
                <img class="business-directory-listing__logo" src="http://via.placeholder.com/200x50" />
              </div>
                <div class="business-directory-listing__text-container">
                <p class="business-directory-listing__heading">Edward Hopper House Museum & Study Center</p>
                <p class="business-directory-listing__address">12339 Test Trwy NW Unit 1, Cairo, GA 30000</p>
                <!-- <p class="business-directory-listing__contact-name"><strong>John Doe</strong></p> -->
                <p class="business-directory-listing__email">john@defaultcompany.com</p>
                <p class="business-directory-listing__phone-number">317-818-1912</p>
                <button class="button business-directory-listing__button" type="button">Website</button>
                </div>
            </div>
        </div>
        <div class="bootstrap-row business-directory-listing-container">
            <div class="business-directory-listing">
                <p class="business-directory-listing__heading">First Farm Credit Mid-America</p>
                <p class="business-directory-listing__address">10 Shoshone Drive, Carmel, IN 48032</p>
                <!-- <p class="business-directory-listing__contact-name">John Doe</p> -->
                <p class="business-directory-listing__email">john@defaultcompany.com</p>
                <p class="business-directory-listing__phone-number">317-818-1912</p>
            </div>
            <div class="business-directory-listing">
                <p class="business-directory-listing__heading">First Farm Credit Mid-America</p>
                <p class="business-directory-listing__address">10 Shoshone Drive, Carmel, IN 48032</p>
                <!-- <p class="business-directory-listing__contact-name">John Doe</p> -->
                <p class="business-directory-listing__email">john@defaultcompany.com</p>
                <p class="business-directory-listing__phone-number">317-818-1912</p>
            </div>
            <div class="business-directory-listing">
                <p class="business-directory-listing__heading">First Farm Credit Mid-America</p>
                <p class="business-directory-listing__address">10 Shoshone Drive, Carmel, IN 48032</p>
                <!-- <p class="business-directory-listing__contact-name">John Doe</p> -->
                <p class="business-directory-listing__email">john@defaultcompany.com</p>
                <p class="business-directory-listing__phone-number">317-818-1912</p>
            </div>
            <div class="business-directory-listing">
                <p class="business-directory-listing__heading">First Farm Credit Mid-America</p>
                <p class="business-directory-listing__address">10 Shoshone Drive, Carmel, IN 48032</p>
                <!-- <p class="business-directory-listing__contact-name">John Doe</p> -->
                <p class="business-directory-listing__email">john@defaultcompany.com</p>
                <p class="business-directory-listing__phone-number">317-818-1912</p>
            </div>
            <div class="business-directory-listing">
                <p class="business-directory-listing__heading">First Farm Credit Mid-America</p>
                <p class="business-directory-listing__address">10 Shoshone Drive, Carmel, IN 48032</p>
                <!-- <p class="business-directory-listing__contact-name">John Doe</p> -->
                <p class="business-directory-listing__email">john@defaultcompany.com</p>
                <p class="business-directory-listing__phone-number">317-818-1912</p>
            </div>
            <div class="business-directory-listing business-directory-listing--empty">

            </div>
        </div>
    </section>
</body>

</html>
