<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
"title": "Business Directory Listing",
"pageCSS": ""
})

<body>
    <section class="row">
      <div class="business-directory-listing business-directory-listing--premium">
        <div class="business-directory-listing__logo-container">
          <img class="business-directory-listing__logo" src="http://via.placeholder.com/200x200" />
        </div>
        <div class="business-directory-listing__text-container">
          <p class="business-directory-listing__heading">EDWARD HOPPER HOUSE MUSEUM & STUDY CENTER</p>
          <p class="business-directory-listing__address">12339 SE Really Long Street Nam eTest Trwy NW Unit 1, Cairo, GA 30000</p>
          <br>
          <hr class="business-directory-listing__line" align ="left" width="10%">
          <p class="business-directory-listing__contact-name"><strong>John Doe</strong></p>
          <p class="business-directory-listing__email">john@defaultcompany.com</p>
          <p class="business-directory-listing__phone-number">(317)818-1912</p>
          <button class="button business-directory-listing__button" type="button">Company Website</button>
        </div>
      </div>
        <div class="business-directory-listing business-directory-listing--premium">
          <div class="business-directory-listing__logo-container">
            <img class="business-directory-listing__logo" src="http://via.placeholder.com/200x50" />
          </div>
            <div class="business-directory-listing__text-container">
            <p class="business-directory-listing__heading">EDWARD HOPPER HOUSE MUSEUM & STUDY CENTER</p>
            <p class="business-directory-listing__address">12339 SE Really Long Street Nam eTest Trwy NW Unit 1, Cairo, GA 30000</p>
            <br>
            <hr class="business-directory-listing__line" align ="left" width="10%">
            <p class="business-directory-listing__contact-name"><strong>John Doe</strong></p>
            <p class="business-directory-listing__email">john@defaultcompany.com</p>
            <p class="business-directory-listing__phone-number">(317)818-1912</p>
            <button class="button business-directory-listing__button" type="button">Company Website</button>
            </div>
        </div>
        <div class="business-directory-listing">
          <div class="business-directory-listing__text-container">
            <p class="business-directory-listing__heading">FIRST FARM CREDIT MID-AMERICA</p>
            <p class="business-directory-listing__address"> 10 Shoshone Drive,</p>
            <p class="business-directory-listing__address">Carmel, IN 48032</p>
            <br>
            <hr align ="left" width="45em">
            <p class="business-directory-listing__contact-name">John Doe</p>
            <p class="business-directory-listing__email">john@defaultcompany.com</p>
            <p class="business-directory-listing__phone-number">(317)818-1912</p>
          </div>
        </div>
    </section>
</body>

</html>
