<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "Buttons",
    "pageCSS": ""
})
<body>
    <h2>Regular Buttons</h2>
    <code><pre>&lt;a href="#" class="button button--teal"&gt;Sign In&lt;/a&gt;</pre></code>
    <a href="#" class="button">Sign In</a>
    <a href="#" class="button button--almost-black">Sign In</a>
    <a href="#" class="button button--teal">Sign In</a>
    <a href="#" class="button button--orange">Sign In</a>
    <a href="#" class="button button--gold">Sign In</a>
    <a href="#" class="button button--blue">Sign In</a>
    <a href="#" class="button button--green">Sign In</a>
    <a href="#" class="button button--light-gray">Sign In</a>

    <h2>Inverted Buttons</h2>
    <code><pre>&lt;a href="#" class="button button--invert-teal"&gt;Sign In&lt;/a&gt;</pre></code>
    <a href="#" class="button button--invert-teal">Sign In</a>
    <a href="#" class="button button--invert-orange">Sign In</a>
    <a href="#" class="button button--invert-gold">Sign In</a>
    <a href="#" class="button button--invert-blue">Sign In</a>
    <a href="#" class="button button--invert-green">Sign In</a>
    <a href="#" class="button button--invert-light-gray">Sign In</a>
</body>
</html>