<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
"title": "Details",
"pageCSS": ""
})

<body>
    <section class="row">
        <h2>Course Overview</h2>
        <details class="details">
            <summary class="details__summary">Unit 1: Baseball – America’s Game</summary>
            <div class="details__content">
                <p>Celebrate Purdue University’s 150th Anniversary while taking a journey through American culture through the lens of baseball. Baseball gained a foothold in America during the Civil War and the first professional team was formed in
                    1869, the same year as Purdue University.</p>
            </div>
        </details>
        <details class="details">
            <summary class="details__summary">Unit 1: Baseball – America’s Game</summary>
            <div class="details__content">
                <p>Celebrate Purdue University’s 150th Anniversary while taking a journey through American culture through the lens of baseball. Baseball gained a foothold in America during the Civil War and the first professional team was formed in
                    1869, the same year as Purdue University.</p>
            </div>
        </details>
        <details class="details">
            <summary class="details__summary">Unit 1: Baseball – America’s Game</summary>
            <div class="details__content">
                <p>Celebrate Purdue University’s 150th Anniversary while taking a journey through American culture through the lens of baseball. Baseball gained a foothold in America during the Civil War and the first professional team was formed in
                    1869, the same year as Purdue University.</p>
            </div>
        </details>
        <details class="details">
            <summary class="details__summary">Unit 1: Baseball – America’s Game</summary>
            <div class="details__content">
                <p>Celebrate Purdue University’s 150th Anniversary while taking a journey through American culture through the lens of baseball. Baseball gained a foothold in America during the Civil War and the first professional team was formed in
                    1869, the same year as Purdue University.</p>
            </div>
        </details>
    </section>
</body>

</html>