<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "Feature Box",
    "pageCSS": ""
})
<body>
    <a href="#">
    <aside class="feature-box">
        <img class="feature-box__image" src="https://purdue.imodules.com/s/1461/images/gid1001/editor/alumnus/2018_summer/brian-chan_p.jpg" alt="Brian Chan" />
        <div class="feature-box__content">
            <p class="feature-box__text feature-box__text--quote">We are repurposing waste to generate electricity in an otherwise power-deficit country.<span class="feature-box__source feature-box__source--black">- Brian Chan (LA'11)</span></p>
        </div>
    </aside>
    </a>
</body>
</html>