<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "Graphic Box",
    "pageCSS": ""
})
<body>
    <section class="row">
        <a href="#">
            <div class="graphic-box" style="background-image: url('../../images/dev/tailgate.jpg')">
                <div class="graphic-box__content">
                    <span class="graphic-box__category">Events</span>
                    <span class="graphic-box__title">Headline for a Club Event or Story Can Go Here Headline for a Club Event or Story Can Go Here Headline for a Club Event or Story Can Go Here</span>
                </div>
            </div>
        </a>
    </section>
</body>
</html>