<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "Header",
    "pageCSS": ""
})
<body>
    <header class="black-bar">
        <nav class="black-bar-menu">
            <ul class="black-bar-menu__list">
                <li class="black-bar-menu__list-item"><a class="black-bar-menu__link" href="#"><i class="fa fa-users" aria-hidden="true"></i>Alumni Portal</a></li>
                <li class="black-bar-menu__list-item"><a class="black-bar-menu__link" href="#"><i class="fa fa-key" aria-hidden="true"></i>Login</a></li>
                <li class="black-bar-menu__list-item"><a class="black-bar-menu__link black-bar-menu__link--search" href="javascript:void(0)" rel="js-search-toggle"><i class="fa fa-search" aria-hidden="true"></i>Search</a></li>
                <!-- <li class="black-bar-menu__list-item"><a class="button button--gold button--bold button--small" href="#">Join Now</a></li> -->
            </ul>
        </nav>
        <form class="form search-form black-bar-menu__search-form" role="search" method="get" class="search-form" action="/" rel="js-search-form">
            <label for="uniqueID">
                <span class="sr-only">Search for:</span>
            </label>
            <input class="form__input form__input--text" type="search" id="uniqueID" value="" name="s" rel="js-autofocus" />
            <button class="form__button form__button--submit search-form__button" type="submit"><i class="fas fa-search"></i><span class="sr-only">submit button</span></button>
        </form>
    </header>
    <header class="row row--full-width header">
        <a class="header__logo-link" href="#">
            <img class="header__logo" src="../../images/svg/logo-optimized.svg" alt="Purdue Alumni Association" />
        </a>
        <div class="header__right-content">
            <a class="button button--small button--almost-black primary-menu__mobile-menu-button" id="mobile-menu-toggle" href="javascript:void(0)"><i class="fas fa-bars primary-menu__mobile-menu-button-icon" rel="js-mobile-menu-button-icon"></i> Menu</a>
            <nav class="primary-menu header__navigation">
                <ul class="primary-menu__list">
                    <li class="primary-menu__list-item"><a class="primary-menu__link primary-menu__link--current" href="#">Membership</a></li>
                    <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Events</a></li>
                    <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Communities</a></li>
                    <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Ways to Give</a></li>
                    <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">About</a></li>
                    <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Contact</a></li>
                    <li class="primary-menu__list-item"><a class="primary-menu__link button button--gold button--bold" href="#">Join</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <nav class="primary-menu primary-menu--mobile" id="mobile-menu">
        <input type="text" style="width: 100%;" rel="js-autofocus"/>
        <ul class="primary-menu__list">
            <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Login</a></li>
            <li class="primary-menu__list-item"><a class="primary-menu__link primary-menu__link--current" href="#">Membership</a></li>
            <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Events</a></li>
            <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Clubs</a></li>
            <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Networks</a></li>
            <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">About</a></li>
            <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Contact</a></li>
        </ul>
    </nav>
    <section class="row">
        <h1>Some title</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae earum officia omnis, inventore rerum placeat sit. Dignissimos dicta deleniti laborum facilis, ratione, doloremque itaque veritatis recusandae iusto repellat adipisci optio!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea molestias est, sed obcaecati minus dignissimos itaque. Sunt molestiae at, incidunt id ratione consectetur quo quos quaerat molestias, vero sequi est.</p>
    </section>
    <script>
        var searchToggle = document.querySelector('[rel=js-search-toggle]');
        var searchForm = document.querySelector('[rel=js-search-form]');

        var menuToggle = document.querySelector('#mobile-menu-toggle');
        var mobileMenu = document.querySelector('#mobile-menu');

        searchToggle.addEventListener("click", function (event) {
            event.preventDefault();
            var display = searchForm.style.display,
                focusElement = searchForm.querySelector('[rel=js-autofocus]');
            if (display == "none" || display == "") {
                searchForm.style.display = "block";
                focusElement.focus();
            } else {
                searchForm.style.display = "none";
            }
        });

        menuToggle.addEventListener("click", function (event) {
            event.preventDefault();
            var display = mobileMenu.style.display,
                focusElement = mobileMenu.querySelector('[rel=js-autofocus]');

            if (display == "none" || display == "") {
                mobileMenu.style.display = "block";
                focusElement.focus();
            } else {
                mobileMenu.style.display = "none";
            }
        });
    </script>
</body>
</html>