<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "Hero for Content Page",
    "pageCSS": ""
})
<body>
    <section class="hero">
        <div class="hero__title-container">
            <!-- <h1 class="hero__title">Young Alumni Young Alumni Young Alumni Young Alumni Young Alumni Young Alumni</h1> -->
            <span class="hero__title">Young Alumni</span>
        </div>
        <!-- <img class="hero__image" src="../../images/dev/hero.jpg" alt="" /> -->
        <div class="hero__image" style="background-image: url(../../images/dev/hero.jpg)" role="img" aria-label="two kids with Purdue Pete"></div>
    </section>

    <!-- <img class="hero__image" src="../../images/dev/hero.jpg" alt="" /> -->
</body>
</html>