<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "Homepage Hero",
    "pageCSS": ""
})
<body>
    <section class="row">
        <div class="homepage-hero">
            <img class="homepage-hero__image" src="../../images/dev/homepage-hero.jpg" />
            <div class="homepage-hero__dark-layer"></div>
            <div class="homepage-hero__content-container">
                <div class="homepage-hero__primary">
                    <h1>Become a Member</h1>
                    <a class="button button--gold" href="#">Join today! &nbsp;<i class="fas fa-arrow-right" aria-hidden></i></a>
                    <p>You’re unique. But there's something you have in common with 600,000+ others. You're a Purdue graduate. The Purdue Alumni Association plugs you into the power of a global network and offers tools specific to your needs.</p>
                </div>
                <!-- <aside class="homepage-hero__secondary">
                    <h2>Small Steps</h2>
                    <p>We want to hear stories of how you or someone you know made a giant impact. It could be in one person's life or the life of an entire community.</p>
                    <a class="button button--invert-white" href="#">Tell the Story</a>
                </aside> -->
            </div>
        </div>
    </section>

    <!-- <section class="row">
        <div class="homepage-hero">
            <img class="homepage-hero__image" src="../../images/dev/homepage-hero.jpg" />
            <div class="homepage-hero__content-container">
                <div class="homepage-hero__content homepage-hero__content--primary">
                    <h1 class="homepage-hero__title">Become a Member</h1>
                    <p>You’re unique. But there's something you have in common with 600,000+ others.</p>
                    <p>You're a Purdue graduate.</p>
                    <p>The Purdue Alumni Association plugs you into the power of a global network and offers tools specific to your needs.</p>
                    <p>Discover your plan. Unlock the power.</p>
                    <a class="button button--gold" href="#">Join today! &nbsp;<i class="fas fa-arrow-right" aria-hidden></i></a>
                </div>
                <div class="homepage-hero__content homepage-hero__content--secondary">
                    <h2 class="homepage-hero__title">Small Steps</h2>
                    <p>We want to hear stories of how you or someone you know made a giant impact. It could be in one person's life or the life of an entire community.</p>
                    <a class="button button--black" href="#">Tell the Story</a>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section class="row">
        <div class="homepage-hero">
            <img class="homepage-hero__image" src="../../images/dev/homepage-hero.jpg"  />
            <div class="homepage-hero__content-container">
                <div class="homepage-hero__primary">
                    <div class="homepage-hero__content">
                        <h1 class="homepage-hero__title homepage-hero__title--primary">Become a Member</h1>
                        <p>You’re unique. But there's something you have in common with 600,000+ others.</p>
                        <p>You're a Purdue graduate.</p>
                        <p>The Purdue Alumni Association plugs you into the power of a global network and offers tools specific to your needs.</p>
                        <p>Discover your plan. Unlock the power.</p>
                        <a class="button button--gold" href="#">Join today! &nbsp;<i class="fas fa-arrow-right" aria-hidden></i></a>
                    </div>
                </div>
                <div class="homepage-hero__secondary">
                    <div class="homepage-hero__content">
                        <h2 class="homepage-hero__title">Small Steps</h2>
                        <p>We want to hear stories of how you or someone you know made a giant impact. It could be in one person's life or the life of an entire community.</p>
                        <a class="button button--invert-white" href="#">Tell The Story Here</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
</body>
</html>