<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "Header",
    "pageCSS": ""
})
<body>
    <style>
    .lightbox {display: none;}
    </style>
    <header class="black-bar">
        <nav class="black-bar-menu">
            <ul id="menu-black-bar-links" class="black-bar-menu__list">
                <li class="black-bar-menu__list-item"><a href="#" data-featherlight="#login-box"><i class="fa fa-key" aria-hidden="true"></i>Login</a></li>
                <li class="black-bar-menu__link--search black-bar-menu__list-item"><a href="#" onclick="return false;"><i class="fa fa-search" aria-hidden="true"></i>Search</a></li>
            </ul>
        </nav>
        <form class="form search-form black-bar-menu__search-form" role="search" method="get" class="search-form" action="/" rel="js-search-form">
            <label for="uniqueID">
                <span class="sr-only">Search for:</span>
            </label>
            <input class="form__input form__input--text" type="search" id="uniqueID" value="" name="s" rel="js-autofocus" />
            <button class="form__button form__button--submit search-form__button" type="submit"><i class="fas fa-search"></i><span class="sr-only">submit button</span></button>
        </form>

    </header>
    <header class="row row--full-width header">
        <a class="header__logo-link" href="#">
            <img class="header__logo" src="../../images/svg/logo-optimized.svg" alt="Purdue Alumni Association" />
        </a>
        <div class="header__right-content">
            <a class="button button--small button--almost-black primary-menu__mobile-menu-button" id="mobile-menu-toggle" href="javascript:void(0)"><i class="fas fa-bars primary-menu__mobile-menu-button-icon" rel="js-mobile-menu-button-icon"></i> Menu</a>
            <nav class="primary-menu header__navigation">
                <ul class="primary-menu__list">
                    <li class="primary-menu__list-item"><a class="primary-menu__link primary-menu__link--current" href="#">Membership</a></li>
                    <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Events</a></li>
                    <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Clubs</a></li>
                    <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Networks</a></li>
                    <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">About</a></li>
                    <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <nav class="primary-menu primary-menu--mobile" id="mobile-menu">
        <input type="text" style="width: 100%;" rel="js-autofocus"/>
        <ul class="primary-menu__list">
            <li class="primary-menu__list-item"><a class="primary-menu__link" href="#" data-featherlight="#login-box">Login</a></li>
            <li class="primary-menu__list-item"><a class="primary-menu__link primary-menu__link--current" href="#">Membership</a></li>
            <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Events</a></li>
            <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Clubs</a></li>
            <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Networks</a></li>
            <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">About</a></li>
            <li class="primary-menu__list-item"><a class="primary-menu__link" href="#">Contact</a></li>
        </ul>
    </nav>
    <section class="row">
        <h1>Some title</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae earum officia omnis, inventore rerum placeat sit. Dignissimos dicta deleniti laborum facilis, ratione, doloremque itaque veritatis recusandae iusto repellat adipisci optio!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea molestias est, sed obcaecati minus dignissimos itaque. Sunt molestiae at, incidunt id ratione consectetur quo quos quaerat molestias, vero sequi est.</p>
    </section>
    <div id="login-box" class="login-box <!--lightbox-->">
        <div class="login-box__column-wrapper">
            <div class="login-box__column login-box__column--info">
                <h2 class="login-box__title">Your Information</h2>
                <p>Update your address, manage your profile, or make a payment.</p>
                <a href="https://tinyurl.com/ybr3yvcm" class="button button--gold login-box__button">Login</a>
            </div>
            <div class="login-box__column login-box__column--benefits">
                <h2 class="login-box__title">Membership Benefits</h2>
                <p>Access discounts, career services, or any benefit of your Purdue Alumni Association membership.</p>
                <a href="https://purdue.vineup.com/" class="button button--teal login-box__button">Login</a>
            </div>
            <div class="login-box__column login-box__column--desc">
                <h2 class="login-box__title login-box__title--desc">Confused?</h2>
                <p>Purdue Alumni is transitioning technology platforms to enhance the online experience. Soon, you will have one login for everything. Until then, don't hesitstate to call or email for assistance.</p>
                <p>800-414-1541<br />
                <a href="mailto:purduealumni@purdue.edu">purduealumni@purdue.edu</a></p>
            </div>
        </div>
    </div>
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
    <script>
    $(document).ready( function($) {
        //black bar search toggle
        $('.black-bar-menu__link--search').click( function() {
            $('.black-bar-menu__search-form').slideToggle( {
                duration: 'fast',
                easing: 'linear',
                complete: function() {
                    if( $('.black-bar-menu__search-form').css('display') === "none" ) {
                        $('.black-bar-menu__link--search').focus();
                    } else {
                        $('#black-bar-search').focus();
                    }
                }
            });
        });

        // mobile menu toggle
        $('#mobile-menu-toggle').click( function() {
            $('#mobile-menu').slideToggle( {
                duration: 'fast',
                easing: 'linear',
                complete: function() {
                    if( $('#mobile-menu').css('display') === "none" ) {
                        $('#mobile-menu-toggle').focus();
                    } else {
                        $('#mobile-menu.primary-menu__list').focus();
                    }
                }
            });
        });
    });
    </script>
</body>
</html>