<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "News & Event"
})
<body>

    <section class="row">
        <div>
            <h2>News & Events</h2>
            <div class="news-event">
                <img class="news-event__image" src="http://via.placeholder.com/300x242" />
                <div>
                    <h3 class="news-event__title">Mock Career Fair</h3>
                    <p class="news-event__description">Practice networking with real employers. Get guidance on your resume. Shop the Macy's Pop-Up Store. Wednesday September 5 at PMU.</p>
                    <a class="button" class="news-event__cta" href="#">Read More</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>