<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
"title": "150 Object",
"pageCSS": "../../css/pages/archive-150-item.css"
})

<body>
    <section class="row">
        <div class="p150-item">
            <div class="p150-item__image-container">
                <img class="p150-item__image" src="http://via.placeholder.com/300x300" alt="" width="300" height="300" />
            </div>
            <h3 class="p150-item__title">Title of the Object TALL LETTERS GO HERE</h3>
        </div>
    </section>
</body>

</html>