<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "Plan Details"
})
<body>
    <section class="row row--slim">
        <p><a href="https://purdue.imodules.com/s/1461/alumni/index.aspx?sid=1461&gid=1001&pgid=9049" target="_top" style="text-decoration: none;"><i class="fas fa-chevron-left" aria-hidden></i> Back to Plans</a></p>
    </section>
    <section class="row">
        <div class="plan-details">
            <div class="plan-details__summary">
                <h1 class="plan-details__title">Career Max</h1>
                <p class="plan-details__description">The ultimate way to take your career to the next level. 1-on-1 career counseling, unlimited LinkedIn Learning and so much more.</p>
                <div class="plan-details__button-row">
                    <div class="plan-details__button-row-container">
                        <p>1-Year</p>
                        <!-- <a class="button button--invert-gold plan-details__CTA" href="#">$199</a> -->
                        <span class="plan-details__pricing">$199</span>
                    </div>
                    <div class="plan-details__button-row-container">
                        <p>3-Year</p>
                        <a class="button button--invert-gold plan-details__CTA" href="#">$499</a>
                    </div>
                </div>
            </div>
            <div class="plan-details__benefits">
                <ul>
                    <li>All <strong>PLUS MEMBERSHIP</strong> benefits plus:</li>
                    <li>LinkedIn Learning - Unlimited Access!</li>
                    <li>Discount on Purdue Global online courses, degrees & certificates</li>
                    <li>15% Off Fridayd Job Search Tool</li>
                    <li>StrengthsFinder  – Top 5 version</li>
                    <li>Resume Review Tool</li>
                    <li>1:1 Career Counseling</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="row" id="extra-details">
        <h2>LinkedIn Learning - Unlimited Access!</h2>
        <p>Thousands of courses covering business, tech and creative skills, personalized to you. Easy access anytime, anywhere — from any desktop or mobile device</p>

        <h2>Discount on Purdue Global online courses, degrees & certificates</h2>
        <p>40% off Bachelor's and Master's programs for Indiana residents</p>
        <p>5% off Bachelor's and 10% off Master's programs outside Indiana</p>

        <h2>15% Off Fridayd Job Search Tool</h2>
        <p>We stack the odds in your favor and make your life easier. We take care of the repetitive tasks so you can focus on getting the job or career you always wanted.</p>

        <h2>StrengthsFinder  – Top 5 version</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores mollitia vitae eveniet excepturi inventore a delectus nulla adipisci error optio laboriosam aliquid repellat dignissimos necessitatibus nesciunt obcaecati, laudantium ut quidem.</p>

        <h2>Resume Review Tool</h2>
        <p>Ut sunt molestiae voluptatibus illum mollitia assumenda adipisci veniam obcaecati. Quisquam, eos, quos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae repellat corporis beatae debitis quia eum, odit possimus!</p>

        <h2>1:1 Career Counseling</h2>
        <p>What if an HR consultant could work just with you? Focused on you, your career, your resume, your goals, your presentation? Wonder no more. Join and you can have it all.</p>
    </section>
</body>
</html>