<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "Price Container",
    "pageCSS": ""
})
<body>
    <section class="row">
        <div class="price-container">
            <span class="price-container__plan">Basic</span>
            <span class="price-container__cost">$25</span>
        </div>
    </section>
    <section class="row">
        <div class="price-container price-container--blue" style="border-color: #6e99b4;">
            <span class="price-container__plan">Basic</span>
            <span class="price-container__cost">$25</span>
        </div>
    </section>
</body>
</html>