<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "Profile"
})
<body>
    <section class="row">
        <div class="profile-wrapper">
            <div class="profile">
                <img class="profile__image" src="http://via.placeholder.com/200x125" alt="Blake Holaday" />
                <div class="profile__content">
                    <span class="profile__text profile__text--name">Blake Holaday</span>
                    <span class="profile__text profile__text--title">Senior Front End Web Developer</span>
                    <span class="profile__text profile__text--email"><a href="mailto:bholaday@purdue.edu">bholaday@purdue.edu</a></span>
                    <span class="profile__text profile__text--phone">765-494-7208</span>
                </div>
            </div>
            <div class="profile">
                <img class="profile__image" src="http://via.placeholder.com/200x125" alt="Blake Holaday" />
                <div class="profile__content">
                    <span class="profile__text profile__text--name">Blake Holaday</span>
                    <span class="profile__text profile__text--title">Senior Front End Web Developer</span>
                    <span class="profile__text profile__text--email"><a href="mailto:bholaday@purdue.edu">bholaday@purdue.edu</a></span>
                    <span class="profile__text profile__text--phone">765-494-7208</span>
                </div>
            </div>
            <div class="profile">
                <img class="profile__image" src="http://via.placeholder.com/200x125" alt="Blake Holaday" />
                <div class="profile__content">
                    <span class="profile__text profile__text--name">Blake Holaday</span>
                    <span class="profile__text profile__text--title">Senior Front End Web Developer</span>
                    <span class="profile__text profile__text--email"><a href="mailto:bholaday@purdue.edu">bholaday@purdue.edu</a></span>
                    <span class="profile__text profile__text--phone">765-494-7208</span>
                </div>
            </div>
            <div class="profile">
                <img class="profile__image" src="http://via.placeholder.com/200x125" alt="Blake Holaday" />
                <div class="profile__content">
                    <span class="profile__text profile__text--name">Blake Holaday</span>
                    <span class="profile__text profile__text--title">Senior Front End Web Developer</span>
                    <span class="profile__text profile__text--email"><a href="mailto:bholaday@purdue.edu">bholaday@purdue.edu</a></span>
                    <span class="profile__text profile__text--phone">765-494-7208</span>
                </div>
            </div>
            <div class="profile">
                <img class="profile__image" src="http://via.placeholder.com/200x125" alt="Blake Holaday" />
                <div class="profile__content">
                    <span class="profile__text profile__text--name">Blake Holaday</span>
                    <span class="profile__text profile__text--title">Senior Front End Web Developer</span>
                    <span class="profile__text profile__text--email"><a href="mailto:bholaday@purdue.edu">bholaday@purdue.edu</a></span>
                    <span class="profile__text profile__text--phone">765-494-7208</span>
                </div>
            </div>
            <div class="profile">
                <img class="profile__image" src="http://via.placeholder.com/200x125" alt="Blake Holaday" />
                <div class="profile__content">
                    <span class="profile__text profile__text--name">Blake Holaday</span>
                    <span class="profile__text profile__text--title">Senior Front End Web Developer</span>
                    <span class="profile__text profile__text--email"><a href="mailto:bholaday@purdue.edu">bholaday@purdue.edu</a></span>
                    <span class="profile__text profile__text--phone">765-494-7208</span>
                </div>
            </div>
            <div class="profile">
                <img class="profile__image" src="http://via.placeholder.com/200x125" alt="Blake Holaday" />
                <div class="profile__content">
                    <span class="profile__text profile__text--name">Blake Holaday</span>
                    <span class="profile__text profile__text--title">Senior Front End Web Developer</span>
                    <span class="profile__text profile__text--email"><a href="mailto:bholaday@purdue.edu">bholaday@purdue.edu</a></span>
                    <span class="profile__text profile__text--phone">765-494-7208</span>
                </div>
            </div>
            <div class="profile">
                <img class="profile__image" src="http://via.placeholder.com/200x125" alt="Blake Holaday" />
                <div class="profile__content">
                    <span class="profile__text profile__text--name">Blake Holaday</span>
                    <span class="profile__text profile__text--title">Senior Front End Web Developer</span>
                    <span class="profile__text profile__text--email"><a href="mailto:bholaday@purdue.edu">bholaday@purdue.edu</a></span>
                    <span class="profile__text profile__text--phone">765-494-7208</span>
                </div>
            </div>
            <div class="profile">
                <img class="profile__image" src="http://via.placeholder.com/200x125" alt="Blake Holaday" />
                <div class="profile__content">
                    <span class="profile__text profile__text--name">Blake Holaday</span>
                    <span class="profile__text profile__text--title">Senior Front End Web Developer</span>
                    <span class="profile__text profile__text--email"><a href="mailto:bholaday@purdue.edu">bholaday@purdue.edu</a></span>
                    <span class="profile__text profile__text--phone">765-494-7208</span>
                </div>
            </div>
            <div class="profile">
                <img class="profile__image" src="http://via.placeholder.com/200x125" alt="Blake Holaday" />
                <div class="profile__content">
                    <span class="profile__text profile__text--name">Blake Holaday</span>
                    <span class="profile__text profile__text--title">Senior Front End Web Developer</span>
                    <span class="profile__text profile__text--email"><a href="mailto:bholaday@purdue.edu">bholaday@purdue.edu</a></span>
                    <span class="profile__text profile__text--phone">765-494-7208</span>
                </div>
            </div>
            <div class="profile">
                <img class="profile__image" src="http://via.placeholder.com/200x125" alt="Blake Holaday" />
                <div class="profile__content">
                    <span class="profile__text profile__text--name">Blake Holaday</span>
                    <span class="profile__text profile__text--title">Senior Front End Web Developer</span>
                    <span class="profile__text profile__text--email"><a href="mailto:bholaday@purdue.edu">bholaday@purdue.edu</a></span>
                    <span class="profile__text profile__text--phone">765-494-7208</span>
                </div>
            </div>
            <div class="profile">
                <img class="profile__image" src="http://via.placeholder.com/200x125" alt="Blake Holaday" />
                <div class="profile__content">
                    <span class="profile__text profile__text--name">Blake Holaday</span>
                    <span class="profile__text profile__text--title">Senior Front End Web Developer</span>
                    <span class="profile__text profile__text--email"><a href="mailto:bholaday@purdue.edu">bholaday@purdue.edu</a></span>
                    <span class="profile__text profile__text--phone">765-494-7208</span>
                </div>
            </div>
            <div class="profile">
                <img class="profile__image" src="http://via.placeholder.com/200x125" alt="Blake Holaday" />
                <div class="profile__content">
                    <span class="profile__text profile__text--name">Blake Holaday</span>
                    <span class="profile__text profile__text--title">Senior Front End Web Developer</span>
                    <span class="profile__text profile__text--email"><a href="mailto:bholaday@purdue.edu">bholaday@purdue.edu</a></span>
                    <span class="profile__text profile__text--phone">765-494-7208</span>
                </div>
            </div>
            <div class="profile">
                <img class="profile__image" src="http://via.placeholder.com/200x125" alt="Blake Holaday" />
                <div class="profile__content">
                    <span class="profile__text profile__text--name">Blake Holaday</span>
                    <span class="profile__text profile__text--title">Senior Front End Web Developer</span>
                    <span class="profile__text profile__text--email"><a href="mailto:bholaday@purdue.edu">bholaday@purdue.edu</a></span>
                    <span class="profile__text profile__text--phone">765-494-7208</span>
                </div>
            </div>
            <div class="profile">
                <img class="profile__image" src="http://via.placeholder.com/200x125" alt="Blake Holaday" />
                <div class="profile__content">
                    <span class="profile__text profile__text--name">Blake Holaday</span>
                    <span class="profile__text profile__text--title">Senior Front End Web Developer</span>
                    <span class="profile__text profile__text--email"><a href="mailto:bholaday@purdue.edu">bholaday@purdue.edu</a></span>
                    <span class="profile__text profile__text--phone">765-494-7208</span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>