<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "Side Menu",
    "pageCSS": ""
})
<body>
    <nav class="side-menu">
        <ul class="side-menu__list">
            <li class="side-menu__list-item"><a class="side-menu__link" href="#">International Council of Women</a></li>
            <li class="side-menu__list-item"><a class="side-menu__link" href="#">Conductors</a></li>
            <li class="side-menu__list-item"><a class="side-menu__link side-menu__link--current-parent" href="#">Young Alumni</a>
                <ul class="side-menu__list side-menu__list--nested">
                    <li class="side-menu__list-item side-menu__list-item--nested"><a class="side-menu__link side-menu__link--nested" href="#">Gift Membership</a></li>
                    <li class="side-menu__list-item side-menu__list-item--nested"><a class="side-menu__link side-menu__link--nested" href="#">Young Alumni Travel</a></li>
                    <li class="side-menu__list-item side-menu__list-item--nested"><a class="side-menu__link side-menu__link--nested" href="#">E-Newsletter</a></li>
                    <li class="side-menu__list-item side-menu__list-item--nested"><a class="side-menu__link side-menu__link--nested side-menu__link--current-page" href="#">Young Alumni Award</a></li>
                    <li class="side-menu__list-item side-menu__list-item--nested"><a class="side-menu__link side-menu__link--nested" href="#">Board of Directors Class Representative</a></li>
                    <li class="side-menu__list-item side-menu__list-item--nested"><a class="side-menu__link side-menu__link--nested" href="#">Featured Recent Graduates</a></li>
                    <li class="side-menu__list-item side-menu__list-item--nested"><a class="side-menu__link side-menu__link--nested" href="#">Young Alumni Happenings</a></li>
                </ul></li>
            <li class="side-menu__list-item"><a class="side-menu__link" href="#">Regional Campuses</a></li>
            <li class="side-menu__list-item"><a class="side-menu__link" href="#">International Networks</a></li>
            <li class="side-menu__list-item"><a class="side-menu__link" href="#">Career Resources</a></li>
            <li class="side-menu__list-item"><a class="side-menu__link" href="#">Online Networking</a></li>
            <li class="side-menu__list-item"><a class="side-menu__link" href="#">Travel with Purdue</a></li>
            <li class="side-menu__list-item"><a class="side-menu__link" href="#">Club Leaders Portal</a></li>
        </ul>
    </nav>
</body>
</html>