<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "Profile",
    "pageCSS": ""
})
<body>
    <section class="row">
        <div class="sponsors">
            <a class="sponsors__link" target="_blank" rel="noopener" href="https://www.balfour.com/purdue">
                <img class="sponsors__image" src="../../images/svg/balfour.svg" alt="Balfour" />
            </a>
            <a class="sponsors__link" target="_blank" rel="noopener" href="https://www.purduefed.com/personal/cards/credit-cards/">
                <img class="sponsors__image" src="../../images/svg/pefcu.svg" alt="PEFCU" />
            </a>
            <a class="sponsors__link" target="_blank" rel="noopener" href="https://www.libertymutual.com/purdue">
                <img class="sponsors__image" src="../../images/svg/liberty-mutual.svg" alt="Liberty Mutual Insurance" />
            </a>
        </div>
    </section>
</body>
</html>