<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/head.html', {
    "title": "Table"
})
<body>
    <table class="table table--roomy table--text-center">
        <caption class="sr-only">Pricing details for the PLUS membership.</caption>
        <thead>
            <tr>
                <th colspan="4" scope="col">Membership</th>
            </tr>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">1 Year</th>
                <th scope="col">3 Year</th>
                <th scope="col">10 Year</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Single</th>
                <td>$59</td>
                <td>$149</td>
                <td>$469</td>
            </tr>
            <tr>
                <th scope="row">Joint</th>
                <td>$79</td>
                <td>$199</td>
                <td>$599</td>
            </tr>
        </tbody>
    </table>
</body>
</html>