<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "Testimonial",
    "pageCSS": ""
})
<body>
    <section class="row">
        <div class="testimonial">
            <div class="testimonial__image-container">
                <img class="testimonial__image" src="http://via.placeholder.com/100x100" alt="Image Alt" width="100" height="100" />
            </div>
            <div class="testimonial__quote-container">
                <p class="testimonial__quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores laborum eveniet ratione architecto, quae qui itaque aperiam quaerat assumenda, doloremque cum. Dignissimos sunt quod asperiores dolor vel, expedita ipsa deleniti.</p>
                <p class="testimonial__source">
                    <span class="testimonial__name">Purdue Pete</span><span class="testimonial__title">Mascot of Purdue University</span>
                </p>
            </div>
        </div>
    </section>
</body>
</html>