<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "Tint"
})
<body>
    <section class="row tint">
        <script async src="https://cdn.hypemarks.com/pages/a5b5e5.js"></script><div class="tintup" data-id="alumni_web" data-columns="" data-expand="true"    data-infinitescroll="true" data-personalization-id="877668" style="height:500px;width:100%;"></div>
        <p class="tint__sub-text">Follow us on social media to stay connected <span class="tint__social-media-handle">@purduealumni</span></p>
    </section>
</body>
</html>