<!DOCTYPE html>
<html lang="en" dir="ltr">
@@include('../partials/_head.html', {
    "title": "Typography",
    "pageCSS": ""
})
<body>
    <h1>This is an h1</h1>
    <h2>This is an h2</h2>
    <h3>This is an h3</h3>
    <h4>This is an h4</h4>
    <h5>This is an h5</h5>
    <h6>This is an h6</h6>

    <h1>Students</h1>
    <p class="callout">There are many opportunities for students to get involved with the Purdue Alumni Association. There are opportunities for relationships with faculty, friends, and alumni &ndash; all distinguished Boilermakers who share in Purdue tradition.</p>

    <p>There are many opportunities for students to get involved with the Purdue Alumni Association. There are opportunities for relationships with faculty, friends, and alumni &ndash; all distinguished Boilermakers who share in Purdue tradition.</p>

    <h2>PASE</h2>
    <p>The Purdue Alumni Student Experience (PASE) is exactly what its name claims. As the student membership of the Purdue Alumni Association, Purdue students receive the same benefits as our alumni members with the addition of an extraordinary experience. <a href="https://purdue.imodules.com/s/1461/pase/home.aspx?sid=1461&amp;gid=1001&amp;pgid=524">Learn more here</a>.</p>

    <h2>Senior Year Experience</h2>
    <p>We want to celebrate your senior year and provide resources to help you transition into life after college. The Senior Year Experience is for all seniors at Purdue featuring events and resources for you throughout the year. <a href="https://purdue.imodules.com/s/1461/alumni/feature.aspx?sid=1461&amp;gid=1001&amp;pgid=2979">Click here for more details</a>.</p>

    <h2>Families</h2>
    <p>Do you have a current student at Purdue? There are opportunities to celebrate your Purdue legacy. <a href="https://purdue.imodules.com/s/1461/alumni/index.aspx?sid=1461&amp;gid=1001&amp;pgid=517">Find them here</a>.</p>

    <h2>Commencement</h2>
    <p>Stay up to date on all Commencement related news. The university maintains the commencement site year-round. <a href="https://www.purdue.edu/commencement/">Visit it here</a>.</p>

    <h2>Scholarships</h2>
    <p>Make sure you check to see what scholarships you are eligible to apply for during the year. <a href="https://purdue.imodules.com/s/1461/pase/interior.aspx?sid=1461&amp;gid=1001&amp;pgid=3621">Here are the scholarships</a> available through the Alumni Association.</p>

    <ul>
        <li>BASIC Membership</li>
        <li>PLUS Membership</li>
        <li>PROFESSIONAL Membership</li>
        <li>CAREER MAX Membership</li>
    </ul>

    <ol>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
        <li>Four</li>
        <li>First Down!</li>
    </ol>
</body>
</html>