.homepage-hero {
    position: relative;

    &__image {
        width: 100%;
        display: block;
    }

    &__dark-layer {
        display: none;

        @include breakpoint(sm) {
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            //background-color: rgba(0,0,0,.5);
            background-image: linear-gradient(transparent, rgba(0,0,0,.7));
        }
    }

    &__content-container {
        padding: 0 $section-padding-xs;

        @include breakpoint(sm) {
            position: absolute;
            top: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            padding: 2em $section-padding-sm;
            overflow: hidden;
        }

        @include breakpoint(md) {
            padding: 2em $section-padding-md;
        }
    }

    &__primary {
        color: $almost-black;
        margin-top: 1rem;

        @include breakpoint(sm) {
            margin-top: 0;
            flex: 0 0 65%;
            align-self: flex-end;
            padding: 0 2em 0 0;
            //font-size: 1.2em;
            color: $white;
        }

        @include breakpoint(md) {
            font-size: 1.2em;
            text-shadow: 2px 2px 8px $black;
        }

        & .button {
            color: $black;
            text-shadow: none;

            &:hover {
                background-color: $black;
                color: $campus-gold;
            }
        }

        & p {
            @include breakpoint(sm) {
                margin: 1rem 0 0 0;
            }
        }
    }

    &__title {
        color: inherit;
        line-height: 1.2;
        margin: 0 0 1rem 0;
        font-style: normal;
        font-family: $barlow;
        font-weight: 700;

        @include breakpoint(sm) {
            font-size: 2em;
            text-shadow: 2px 2px 8px $black;
        }
    }
}
