.row {
    padding: 1em $section-padding-xs;

    &:after {
      content: "";
      clear: both;
      display: table;
    }
    
    @include breakpoint(sm) {
        padding: 2em $section-padding-sm;
    }

    @include breakpoint(md) {
        padding: 3em $section-padding-md;
    }

    &--slim {
        padding: .5em $section-padding-xs;

        @include breakpoint(sm) {
            padding: .5em $section-padding-sm;
        }

        @include breakpoint(md) {
            padding: .75em $section-padding-md;
        }
    }

    &--full-width {
        padding-left: 0;
        padding-right: 0;
    }

    &--no-padding {
        padding: 0;
    }

    &--almost-black-bg {
        background-color: $almost-black;
    }

    &--light-gray-bg {
        background-color: $light-gray;
    }

    &--cards-3 {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint(sm) {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
}
