.row {
    padding: 1em 2em;

    @include breakpoint(sm) {
        padding: 1em 4em;
    }

    @include breakpoint(md) {
        padding: 1em 6em;
    }

    @include breakpoint(lg) {
        padding: 1em 8em;
    }
}