.profile {
    max-width: 200px;
    margin: 1em 1em 3em 1em;

    &__image {
        display: block;
    }

    &__content {
        margin-top: 1em;
    }

    &__text {
        display: block;
        line-height: 1.2;
        margin: .5em 0;

        &--name {
            font-size: 1.2em;
            font-weight: 700;
        }
    }
}