.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.mobile-only {
    @include breakpoint(sm) {
        display: none;
    }
}

.tablet-only {
    display: block;
    @include breakpoint(md) {
        display: none;
    }
}

.not-mobile {
    @include breakpoint(xs) {
        display: none;
    }
}

.not-tablet {
    @include breakpoint(sm) {
        display: none;
    }
    @include breakpoint(md) {
        display: block;
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.no-top-margin {
    margin-top: 0;
}