.secondary-footer {
    background-color: $black;
    display: flex;
    justify-content: space-between;
    color: $white;
    padding: 1em $section-padding-xs;
    flex-direction: column;

    @include breakpoint(sm) {
        flex-direction: row;
        padding: 2em $section-padding-sm;
    }
    @include breakpoint(md) {
        padding: 2em $section-padding-md;
    }

    &__list {
        list-style-type: none;
        text-align: center;

        @include breakpoint(sm){
            &--right {
                text-align: right;
            }

            &--left {
                text-align: left;
            }
        }
    }

    & a {
        color: $white;
        font-weight: 400;
    }
}