@import "../settings/all";

// styles that apply to the 150 innovations page
.innovations-150-item {

    &__gold-header {
        color: $campus-gold;
        font-size: 0.8em;
        font-weight: 525;
        line-height: 1.2;
        margin-bottom: .3em;
        display: block;
        font-family: $barlow;
        text-transform: uppercase;
        text-align: center;
    }

    &__black-header {
        font-size: 1.5em;
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 400;
        display: block;
        margin: 0;
        font-family: "Georgia", serif;
        color: #383838;
        text-align: center;
    }

    &__image-container {
        text-align: left;
    }

    &__image {
        position: relative;
        display: block;
        margin-bottom: 0;
        margin-top: 0;
        max-width: 100%;
        height: auto;
    }

    &__credit-container {
        margin-top: 0.5rem;
    }

    &__credit-icon {
        position: absolute;
        margin: 0 auto;
        color: $gray;
    }

    &__credit {
        color: $gray;
        font-size: 0.7em;
        margin-top: 0;
        margin-bottom: 2rem;
        margin-left: 1.3rem;
    }
}

    .h1 {
      text-align: center;
    }

    .innovations-150-sidenav {
      display: inline;

    }

    .menu {
      list-style: none;
      text-decoration: none;
    }
