.business-directory-listing {
    border: 2px solid $light-gray;
    border-top: 0;
    box-shadow: 0 -10px 0 0 $almost-black;
    margin-top: 10px;
    padding: 1em;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 1em 0;
    flex: 0 0 100%;
    flex-wrap: wrap;

    &--empty {
        border: 0;
        box-shadow: none;
    }

    @media (min-width: 615px) {
        flex-basis: 48%;
        flex-wrap: nowrap;
    }

    @media (min-width: 1100px) {
        flex-basis: 32%;
    }

    &--premium {
        box-shadow: 0 -10px 0 0 $campus-gold;
        flex: 0 0 100%;
        display: flex;
    }

    &__logo-container {
        width: 100%;
        margin-bottom: 1em;

        @media (min-width: 615px) {
            flex: 0 0 200px;
            margin-right: 2em;
        }
    }

    &__logo {
        display: block;
        margin: auto;
        max-width: 200px;
    }

    &__text-container {
        flex: 0 1 auto;
    }

    &__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__address {
        margin-bottom: 1em;;
        margin-top: 0;
    }

    &__contact-name {
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 0;
    }

    &__email {
        margin-bottom: 0;
        margin-top: 0;
    }

    &__phone-number {
        margin-bottom: 0;
        margin-top: 0;
    }

    &__line {
        border-color: $campus-gold;
        position: relative;
        width: 3em;
    }

    &__button {
        display: block;
        margin: auto;
        margin-top: 1em;
        // margin-left: 5em;
        @media (min-width: 625px) {
            //margin-left: 0;
            margin: 1em 0 0 0;
        }
    }
}