.button {
    display: inline-block;
    margin: auto 1em;
    padding: .5em 1.5em;
    max-width: 100%;
    text-align: center;
    border: 2px solid $brown;
    text-decoration: none;
    color: $brown;

    &:link,&:visited{
        text-decoration: none;
    }

    &:hover,&:active,&:focus{
        text-decoration:none;
        cursor:pointer;
        background-color: $brown;
        color: #fff;
    }
}