.p150-object {
    position: relative;
    margin: .5em 2em 3em 2em;

    &__image-container {
        position: relative;
    }

    &__image {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
    }

    &__title {
        margin-top: .9em;
        font-size: 1.5em;
    }

    &__like-link {
        width: 40px;
        height: 40px;
        background-color: $light-gray;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
        bottom: -20px;
        text-decoration: none;
    }
}