.sponsors {
    &__title {
        text-align: center;
        font-family: $barlow;
        font-style: normal;
        font-size: 1.5em;
        font-weight: 700;
        margin-top: 0;
        text-transform: uppercase;
    }

    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        flex-wrap: wrap;

        & li {
            margin: 2em;

            & img {
                max-width: 100px;

                @include breakpoint(md) {
                    max-width: 100%;
                }
            }
        }
    }
}