.sponsors {
    @include breakpoint(sm) {
        justify-content: center;
        align-items: center;
    }

    &__link {
        display: block;
        margin-bottom: 2em;

        &:last-child {
            margin-bottom: 0;
        }

        @include breakpoint(sm) {
            margin-bottom: 0;
        }
    }

    &__image {
        display: block;
        margin: auto;
        min-width: 100px;
        width: 80%;
        max-width: 275px;
    }
}