@import "../settings/all";
// styles that apply to the 150 innovations intro page
.innovations-150-header {
    margin-left: 2em;
    margin-right: 2.5em;
    margin-top: 1.5em;
    margin-bottom: 4em;

    &__title {
        font-size: 1.5em;
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 550;
        margin: 0;
        font-family: $barlow;
        color: #383838;
        text-align: center;
        display: absolute;
    }

    &__title-gold {
        font-size: 1.5em;
        text-transform: none !important;
        line-height: 1.2;
        font-weight: 560;
        margin: 0;
        font-family: "Georgia";
        color: $campus-gold;
        text-align: center;
        position: relative;
    }

    &__subtitle {
        font-size: 1.3em;
        line-height: 1.2;
        display: block;
        margin: 0;
        font-family: $barlow;
        color: #000000;
        text-align: center;
        margin-top: 1rem;
    }

    &__credit {
        font-size: 0.9em;
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 150;
        display: block;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        font-family: Barlow,serif;
        color: #7e7f81;
        text-align: center;
        display: absolute;
    }
}

.innovations-150-tile-wrapper {

}

.innovations-150-tile {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &__image {
        max-width: 100%;
        height: auto;
        flex-shrink: 0;
    }

    &__title {
        margin-top: 1em;
        margin-bottom: 2.5em;
    }
}

.alumnus-credit-box {
    background-color: $light-gray;
    padding: 1em 3em;
    margin-bottom: 3.5rem;
}

.innovations-150-content-wrapper {
  max-width: 700px;
}
