@import "../settings/all";

// styles that apply to the 150 items page
.banner {

    &__video {
        max-width: 100%;
        height: auto;
    }
}

.items-intro {
    text-align: center;

    &__tagline {
        font-size: 1.5em;
        font-family: $vollkorn;

        @include breakpoint(sm) {
            font-size: 2em;
        }
    }

    &__divider {
        margin-top: 2em;
        width: 97%;

        @include breakpoint(sm) {
            margin-top: 3em;
            width: 50%;
        }
    }

    &__credit {
        text-transform: uppercase;
    }
}

.foreward {
    @include breakpoint(sm) {
        column-count: 2;
    }

    & p:first-of-type {
        margin-top: 0;
    }
}

.p150-card-list {
    margin-left: 0;
    margin-right: 0;
}