@import "../settings/all";

// styles that apply to the 150 items page
.p150-card-list {
    margin-left: 0;
    margin-right: 0;
}

.featherlight .featherlight-content {
    padding: 2em;
    background-color: $white !important;
}