@import "../settings/all";

body {
    max-width: none !important;
}

.hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://www.purduealumni.org/dev2/images/membership.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0;
    width: 65%;

    h1 {
        margin: 0;
        color: inherit;
    }

    @include breakpoint(sm) {
        p {
            margin-top: 2.5em;
            font-size: 1.2em;
        }
    }
}

.membership-plans {
    &__title {

    }

    &__subtitle {
        @extend h3;
        margin-top: .5em;
        font-weight: 400;
    }
}

.plan__join {
    white-space: nowrap;
}
