@import "../settings/all";

.small-steps {

    &__alumni-logo, &__150-logo {
        width: 100%;
        max-width: 587px;
    }

    &__150-logo {

        @include breakpoint(xs) {
            margin-top: 2em;
        }
    }
}