/*  USAGE
aside.primary {
  float: right;
  width: 350px;
  @include breakpoint(sm) {
    float: none;
    width: 100%;
  }
}
*/

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 47.99999em) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 48em) { @content; }
  }

  @else if $class == md {
    @media (min-width: 62em) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 75em) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}