$digital-gold: #98700d;
$campus-gold: #c28e0e;
$bell-tower-brick: #b46012;
$ross-ade-green: #849e2a;
$fountain-run-teal: #29a592;
$slayter-sky-blue: #6e99b4;
$light-gray: #eee;
$gray: #bababa;
$dark-gray: #5e5e5e;
$almost-black: #383838;
$red: #e04826;
$black: #000;
$white: #fff;

// plans
$basic: $slayter-sky-blue;
$plus: $ross-ade-green;
$professional: $campus-gold;
$career-max: $bell-tower-brick;